html {
  background-color: #222;
  font-family: 'Lato';
}

body {
  margin: 64px auto;
  padding: 32px;
  border-radius: 8px;
  background-color: #333;
  width: 464px;
  box-sizing: border-box;
}

#image {
  display: block;
  border-radius: 4px;
}

.seeds {
  margin: 16px 0px;
  grid-gap: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 16px 0px;
  grid-gap: 8px;
}

#textbox {
  display: block;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #444;
  border: none;
  outline: none;
  color: #fff;
  font-size: 24px;
  transition: .1s;
}
#textbox:hover,
#textbox:focus {
  background-color: #555;
  transition: .1s;
}

.button {
  display: block;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #444;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .1s;
}
.button:hover {
  background-color: #555;
  transition: .1s;
}

.fa-spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}