html {
  background-color: #222;
  font-family: 'Lato';
}

body {
  color: #fff;
}

p {
  margin: 4px;
}

.container {
  margin: 12px auto;
  padding: 32px;
  padding-bottom: 0px;
  border-radius: 8px;
  background-color: #333;
  width: 464px;
  box-sizing: border-box;
}

.credit-box {
  text-align: center;
  padding: 16px 0px;
}

a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: .2s;
}
a:hover {
  color: #ccc;
  transition: .2s;
}

#image {
  display: block;
  border-radius: 4px 4px 0px 0px;
}
#image-bottom {
    display: block;
    border-radius: 4px 4px 0px 0px;
}

.seeds {
  margin: 16px 0px;
  grid-gap: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  margin: 16px 0px;
  grid-gap: 16px;
}
.seed-buttons {
  display: grid;
  grid-template-columns: auto auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
}

.seed-box {
  display: block;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #444;
  border: none;
  outline: none;
  color: #fff;
  font-size: 24px;
  text-align: center;
  transition: .1s;
}
.seed-box:hover,
.seed-box:focus {
  background-color: #555;
  transition: .1s;
}
.seed-top {
  border-radius: 4px 4px 0px 0px;
}
.seed-bottom {
  border-radius: 0px 0px 4px 4px;
}

#full-seed {
  text-align: center;
  display: block;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.button {
  display: block;
  padding: 8px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #444;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .1s;
}
.button:hover {
  background-color: #555;
  transition: .1s;
}
.button-bl {
  border-radius: 0px 0px 0px 4px;
  border-top: 1px solid #555;
  font-size: 15px;
}
.button-br {
  border-radius: 0px 0px 4px 0px;
  border-top: 1px solid #555;
  font-size: 15px;
}

.fa-spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
